## Java
.classpath
*.class
*.war
*.ear
hs_err_pid*


out/
com_crashlytics_export_strings.xml

**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch

## OS Specific
.DS_Store
